/* Modal controlado via Checkbox em CSS puro */
#modal-toggle:checked ~ .modal-overlay {
    opacity: 1;
    pointer-events: auto;
}

#modal-toggle:checked ~ .modal-overlay .modal-box {
    transform: scale(1);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    backdrop-filter: blur(5px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.modal-box {
    transform: scale(0.9);
    transition: transform 0.3s ease-in-out;
}

/* Exibição das respostas do Quiz via Radio Buttons CSS */
.resposta-explicacao { 
    display: none; 
}

#radio-golpe:checked ~ .quiz-container #explicacao-golpe { 
    display: block; 
}

#radio-seguro:checked ~ .quiz-container #explicacao-seguro { 
    display: block; 
}